---
import { SITE } from '../config';
---
<header class="wrapper">
	<article>
		<h1>
			<!-- logo -->
			<a href="/">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">  <image id="image0" width="64" height="64" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA B3RJTUUH5wEUBBsObAkmowAAG+1JREFUeNrFm3mUXHd15z+/917te3V39d6tllqrtViWPZbkHRvb seOFhHDAIYCDWcKSZAI5TvCcZBJCYIY5JwOcExhO4MAMJIZs2CzGGBlj2bL2tbsl9b5vVdVd+/K2 3/zxqlvdsmRbRobfOdVVXfXeq3e/997vXX63BL+h9eEvrwcEVkXjoT/v40Hxm7kP7a28+Ed+GiDQ uxc1XAQhscsecu5BLEOSm7XxxzxuRRB9UMh5RRXYFsRaFRQV0uP2rwUA5a28uD8fh1iSeKROe/iD VcWe9ZPvT6B2pv2mtG7weMuP2aL6vs/99Z9hW2iAf3HK9qbHbSHlr0V+rrrh/cVPW/B7gxTtOUoD bTQ83Kuln9r+mcKM0hiQkX1zpQVEQXswbLsf1hTbnaoUByuq8dVSSq1W1Wwilgisd4fM537yo9F/ LfUuK8iuPa46LFcNgMefTWD45vFO7CbY/w7GPvW4Gvj37a2ZAfcHUyPqn7fVR3z5HNZssijvub5J CyJ55sAUAcvGE3TJUKvfTFpZJeeaHxjrzT7V88vMCzguWgBGgFlAv9ogXDEH/MkX34Y03Kj1cyi+ KrFoHJfqpTwY5wsf+z6ffVpdW0kcfyj8pUf2ZufLO/OTyS5ZFcrG3TFSaV0t5i3WdgaYS1Zw+d3U CxV/RBH903lXtuhC8UeahZG/zR8VraWMHANOAmO1r5eOzhTA+s0AICUIRQrbEj7dzMn69TFhzHvj Va+x+Q/+dM99ohR/KOYLdcXDfkw5Ss4tCLoVUtMFeoerzMwXGRrKYdoQiIVw1/nwhlS8wy4UzcCL JxJLRHbXN000njo4ZS1MG6ma9vOACdK6WsK/KQAAtMw6UY2P7ZSp1k/0Pe2uTw+XO3Mz+fZCxvI2 1xcoh8okdZVK1aa1NYxuQXLRRBo6RsVkJlvlpt1x5nSFqYkMnqCfloYQjZ0K+49OUtE0GiNr19xx W0Okb3iw4/zRxZhtEQROAynA4Cq5wpUDIBWU275v+0PZs+kf3rR1vl/bWu+poGoCy6/S3BEgUzLx 14XYuzFOV6PK/IzOC/unyKYqbGn3EdAsxqbLZGfz5LMGgaBKzCeQmkqqauH1CAKhoJgZqca7m9bs NXdV5eCxUlhaNAFHcTihdDVAUK/0hEM/H+b2P5Y8uqdafean3q75ocqNYZ9Xia6PU3Fp6LqgtS7E 1sY4zV4PXtNPz/kiZwYzFHULj9dNWVc4158nk6nQHHUT9cNCwSSrw+xcAZ/LTVNEo60lSDqlaJG6 QOO1ezu6DCUXWpjWq0C59rB+VRCuGICPfDNBJe3hiVvb5e7HZ495VW9AKdffmM4arG+Lsqe9iWLa YGK2wGhykaPn05wdy9O5ppF7b99KS3OU6WSRfMmkvjGEjsJkSidbtfD6PXS01LGuLYbH7wVNQbeg uKi46hr9YmhoIpOZM3xAM+CrWUEJ5c2TwhW7gOK2cPtlePMD5Y/v/5v4zf6A7E64KozPLJIZXyDT vIBlQVkIpuZyGIaOy+1nY3cduXyJarmKKhTyuSLSMmlIhEkkXGQyZap5nWi9n5Avis9dYm5ugYnR RcJt0j43dm5iYaZaCcc9DfnFak5KPLVbkriB6psD4IrygCeOeZg9GENx2bee+m7o2cUxvFJKpLRR hEACEoFAoqoK0pZO1BACIXA+kRJFEdi2k+oK54Pl14qiIAChCEzTwrIlLreK6rUs1YMebLLmju0f +05pUR4C+oF5nFzB/LVYQPJH19F8+8wNPqF6MyyiKAKJgiPesk6wbRuBI7hEghRIHKEte6XbitqZ EtuW2LZVu4Rc1o+hm+hVVJ/f5wvFrBCSjUAdsBk4CPQAWeCKC4grBqCck1im1e+NiBO+iLbdKElV WhKERAgFuZzEOwIIIVa858gkEGBLbCGXQQIFe+k4AUi5DKljRRLNa2NYetnS8QH1Nc2H3owcS+uK SPDWj2jc/MQ5fvrITf3r3t/3A9Wl9Hl8mkdaSrNZlW7DNJHSrmnSRlEVVEWpuYAjqKIoWJYNS8AI sGwbW9pYloVt1863HNfSPOAOmhV85VSV/NjA6fmRwqK1FAWmgAFgBocFrjgiXHEt8Pjzcf7ojgX+ 9sstzOxvInprX1Cd23DT1NniR5MD8rer+QvacLlcuN1uNFV1hJM2qqrV/F+iqCpIsGwLpMQwTSzT xLIkLp+UarCarRjFqcVUaS6XNvJGhRKQqQk+jMMBozjm/6Y44Fcuhn7/SyEa5LUU4kdDE/ujj6b6 vH+Tm1KiQoCqqrhcLhRFwTB0HAuXqKqGlBIhBLZtoShqjRwVdKOKN2bqFSUzODmQGyss2EvangHO AWdxaoNFoMKb8PurCgCAlH/Hh7/1v/j6BzLqfY91PjnyovZOaQoU1almbdtexQOOzzvEtxwlEASC QVyRMjKaGjzyTKrXNjFrgvYAh3HMPcOb1PZbBgDAE6+EOPWdMOE2c+fw856/rWTU6428q8nSa8Gx FiZXfbkApAOEO4h0BShVlPTY+LncZC5lFoEc0AvsB/pwCqKrWg5fcSZ4uXXrxwTfeOx/Ux97aXbX x+f+wxOS+/WCsrmaV9pMXQrbljg5g0NuUtqomormQbpj1WJZS58dHUyem+ovzlSLdhbHz08Ah3A0 n+dXNPdLravaEfqLl/18fm+JD30rjJWO4YmaN5/+58CP5wfNsKIsqc75q2ku1l0fKg0OjZ2dGc2m s0kjj+Prszh+fhrH17Ncxerv4nVVm6JWRWMYMHMRcmM+4qrRapREUCKx5QUJatGdfDVZGOxNTZol dJwy9zRwDKfaWxL8LV1XxQWeOOahub0eoyz40/+yhq77i7H0jLXLmHa/X10IbYu43DTXxakPBfFr Kh63G92y0W1LbUx43e6gqtguK2mZ9nFp0gukhYr11uh89boqLvDBb0QpLWjUrzciPf8Z+YAnGX1k e6jpmjXxpkBdtJ5INEYwHEI3TRYWFsjlsth6lZlMjrMzKfw+bF2r5AYLs8fniskfZ+cLh1KDcgQn AlR5C3z/qgLw0SfD+OJW+Mg3I1/2jcbf99CmbaJtw2Y6tlxDS1srQb8PTQHbhkq1wszsPAcOH2WN UsEydb51oIcd7fVsaavnx2fPGr3psfFUJX0omyn8Ip/WjxbnGGO5JXZ111VxgR33eajmlQ3j+/1f 2OZq9bVu38mdv3UPTY0NTM/NUR+L4HG5UFUFr8dDMBhkaDZJX/8g929fx5pEjJ/2DKEoKh+5bbe6 u2NjPKrVbXOp3ju8MXWPu062eyKmR69K3dYxAEvzIe2rAMdVAWDP+1zUbygXZ075rjPyoc3X77yO rrZWzg8NkV5YJBYJk8/lMSsl+voH6DnXz/DwMJ2xAGsSMVriUTY01/H9Q31MZwrce+16dnd3cnP3 es/meGdr1B3b63b77vTExHW+BtmgBQxRmEfHIclfyT2uCgDb7/Uw8UrIaLhG752f5I7iSK5hcW6G ZGqeYnaR3r6zHDp0iOLsFEGrSJPb4prGKJ0NYVyaCkIQDwdY2xDj3w+fI1uqsKOrhYDXQ1eijj3d XWJv5/rAmnBrt4b/dlzqHYFmNntjlr+wYFnSxkJg8iZC5VUB4L6/Evyf38/x2ceb55t354aGRypv C5vu0O9et5FrmmJsSkTprItQMU0W8iUyhRK2LfF7PSCWKkaFhnAAgc0PjvbTEPLRUR9hNltkLJUB RaG7sY6bu9epO5vXxs2Se3vZkrf5m6wtNkawnJUaDkfoXEHf/FcC4PH9AV76psF3norxtX9soe8H a9nzhZ7Z8pyn49iR/A1+1cWudW24XBpBn4fGSJDmaIj2+ighnxeEQEgbt6agKA4fd9VHSWZz/OBw H5limUyhjG3blCqGUzdoGs2xCLu7O9na0OpLJc1uIyR3uEJ6YzZpBGsyVWpAvK57vCkAPvXzII9+ W+fUd+v4i3dtofHO6Uh+zrW7aW3xQ4VfdHxmrdV1187mDu+LZ0fRVJV1jXWoqsJCoczx0VnOzaSY y5WoGBb5is70Yp5kvoRpS2JBHxua6zk1Os3I/CIfuH0XWzubaa2LEI8ECfm8uDQNj9tFWyLOrs42 ckkrOFcqrvM36XWFBSNgm3hrIJR5nchxRQB85piHRFMdtiH47A3b2HJPqsMdsh+tnGz+3CbW/9n9 XbvuesfWnZ0Pbt/m3dnZgtul8dSxc3gUlQ0tCQIeN03REIpQSOZKVC0Tn1sjEfKTCAeJBXyoCvi9 btrrouw7NUCqUGLn2jZUTalVT0sdJKeSDAS87Opqw6W7teFUriXQZsbLBd1llPHVrKDIa6TSVwRA 984olq4Q6TAiAW/lo6UzDV/aE9n+3vddt6fj4V3b3Fs7mqmPhJCKwvcOnOTFviGSuSITqUWu7Wgm 7PehaY6vb2iuZ20iRlM0QNjvxeNSHTcQAiEFiUiQqE/jqaPncLlUNrc2LtXRteyl9lo6jZeta1po cIWUwYlcg9ag1xmmrlby0l9zgwKX6RhdEQB73+8mvtaIHP9/oa+K8cZPf/KWuxredeO1tNVHUVUV u3ZTihCsa6pH2pJTo5Oky1X6Z1J01EVojIaxl2oDKWtNklpjdFk+p8namYijCPjegdOk8kXKVYOB 6STnp+eZWMhgSYgF/M52qRB0tybYmGhidKIUMfzVJjWgu4oL1lL7vFhziVW8cEUArNkWpjCrbR8/ 6PncnpaNnkfvvBFVU5AoCEVFEc6NS3BMOxImX64wklpkJJlmfHaeG9d1EPD7HUGXGqRiqTegrNKu oih0NzeQzBX40dFetjTVsXdjJy3REK3xCLGgD5eqXGiwCIXWuijXr+kgvyD9C2a51ZvQg8WM4bIM XFyCF94QAE8c9aKmO4i06ygq7XO97vevDSfcu9e1MTWb5sjgOMdHphhPLuBxabg0FU1VCfm8pPNF fn7yHKphIStV2usirGtvZsmXxXJbXHBxvQgSTVXZsaYZy5I8feIc9ZEQ65rqMW0badvopgkSSrpO rlQmUypjA9euaSUmIq6pdKnFnTAbLKl7K3npxeGDIrVZA+21Bfcw/kKc9PkqVtmDd81EaPrl2M2W JT1nx6bZ99IRCm4fSryJWGMdhm1xZHoBjz7F+uYGIgE/HkVhTUOcnslZpKkgNLW2dSIv4ZErSxOn rS4leN1u3nvbLjoTcZ46fo6TY9MENA1NVRhfyKLrJomgn2jASzzgxedxIRG4NJXdbRuVI6PublfH bF0wttA4M1CpM6vUAWeA+csWQ3950Mff31jmoU+3senhtL/nyYb75HzsYw1G/KYGLez+2cnzPLyp g7ve+U6u33szbs3p/5UrFWbGRnjmmZ9Rp1jEAwG+/cpJKqbBPds28Dt7duDxeC5ByUsbIfISQFBr oErShSKqEPjdLkq6ztd/fohEJMiOtkZS+RLJXBGvS6O9IU5nIooiJKVyledOD/DDsyfMlDU7MD+R eWlh0joAnLqsBXx+d4nnbrqG7gdS2w//Q9tfNxrN9z+0fZdnz/oOPC4nfT0yMsXbvQG8Hg3TskGC 1+ulbd16Iu2DDB15hUHS1If9fOLeW6iPhNA0dYXwNWGFXCnrq4RfsgShQCIcQCAwLJMjZye5eXMX ezZ24lIVpIRK1WA2U+DE+BzzxTL3bF9HUyzCh5oa2NXVrn3luRc3e7rGEt7gfGL6nN5xSQ741HMh und8mZbrC5vHfxH9l63a5tv/6913aLvWteB2a7g1lc3tzZyfTXH43BARfwBVUSiVysyMjXH28CGy o4Nk8wXSpsm7b9tFd0uDs3O00s+XCe9iQ7yYD+TykwTS+SJHhyepCwXZta7N2Z6Tjlupqkos6GdT Sz2d9VFcmoqssWx7fYzuWIQXT0z7XY16NJMq6ass4OP/FiHUrHPmyRA//so2HvxU7yMyGdr2yO9d R2ciimHbyBrLN0RDfOadd3N0cJxTL/+C4y8rKELFrpY5OTzBQkXnXbdex4e2b8DvcWFJ+5Kmvfy8 zHurBb5wuHOAbdvMZPO0N8TpaoivuMSS6wiWth49mquG2lITTmJYFopqY1lGxdJxKQCfOeyje/1G UoNuPr+3LGy3fu3N7+z7fKk3+mg5bzK7mFvyRIQQFMs6g1PznJ+aw68pbGmqY1NdkNu6Goj63CwY Jo++fS8PXX8NPrezCYIUK+RfAcRKwVcKf7FB1JaiCK5pb2ZtIn4J/hCXOEks/63oOv955Cx5T7Yy P1EYNatY2hNHPXzu+ju54w9O4g6bzbe+p/0ToUzDH97XsanpzpvWc3x4ku+8eByvx8PeDR0MTKf4 xi+P09rWzg1bN9FYFwFdZ3xygq8fOMGh88P88f238Pbt65aTHLl8C0vCyQtCixVqFrKmMeXSVrBC XikuJstX88bKpQjBi30jHJwYxgxmxpOjZhawtZnDce7/5HEiaypb+38U+epW96abH7t7N5vaGhBC 0N3cQCIa4XsvH+eXPQP4pIVQBPffcyfb1q/FpWnYlsn2HdsZyFbJFQu8fdv6FTe+lN7JCxpe5gB5 CY2viARLpn0ZEF51yiVBkyhCMJ/J8S8vHUUPpRcnzuVHpIUNVNRbHnOx8bdKvpP/HPvH+mzH3f/9 HfeytjG+3JJVFIV1TXVc29HE6FyaIyPTeGyLqaEhZufmURQFVdMAwXMHDtMd87NnQ0dtq1tcZIli haUufaC82nxX/Xsp05aXeW/l8UvhEyxL8q19h3llrtdYyM2fmh8yMziJ0KwmbchOaR5ZdTVpQluu N6SEkm5QquqUdB2PqvHuW67j1k2dHBua5MzYLH0/e57n9x9gfWMDLeEAw+dHadzYgbhoRsDR5pJ5 X6zCi0jwdU16ScvyEu+t/n9p9uCFngGePnOcaiA9MtmnJ3HqgQXgvHr/3+l87Ya9lR3vnh2em9e3 nh9ZbGkKRbBMg2eO9XF6dJo54afgCpLDheXxEw4G6ayL0BULMpHO8LPeAQ6PTDC1mKWzIcaeDWtq PrpUwi4JueKmlz+Xqy1CiuXN0suT2mqCuyC8cy1FEZiWpFqtcmZkki8+vY9iYCY51pftrRYxcKrD fuCYVlnw8DX5PP9w9+bnux+Yf3DwYOk9//OlufdfG2q/pkV4lIKtccuOHezavgVNUbBsScUwmEkt cHj/S3yysZ6v2Bb7+seQUnJ2coZ8tULQ68UJfJcmpVWAyBVmLCRzmTxhnxefx71MpKst4qJrLRuR Y2nDyQV6x+YICov/u/84afd0fn4y01NIywpOWTyJkwoPqS/9k8nau308+cSDbL39fP7klza90vbB U08Pzma7TpzKbZaFEpmJSXK5LIpLQ2qaM+FhmJjpNK5qicOj44wt5hBArlyhrS5Gd3NieUf4goLF azwc4RWh0Ds+y6mRSdY3J1DEG+eASrXKvp5BTo9MsaEuwH8c7uV0caiSK6ROzZw3FnAKoWmcYcuT QFIFePmbJnCMOz8tUbf0s3igMR9fW20bPyfvGU+VGJhL0nPuPMO9Zxk5d5bh0z2cO3GCmckp9o9O 8crQOIZlO/PsUtA/nWTbmlYaY0FnEGK53r2cb1/wYYHApWn85FgfnYk4saCPlSNGEicErho7EgIF wQ8O93Cgf5wP7N3CU8fO8YuZs0bJSvaMnarO4JTA88Bx4EgNCH1VKnzwOwaD+2DPe914I3ZwYcD9 e0ZR0SzbJlOtMrq4wIQ2sDhcGc0eHFgMNkTjvOfWa7lpUxdF3WR4LuX4n5SUqzrXd3ficWmOvlYx /2v4MgLDljx3up/2uigd9ZGL3OACcCsbREIIZnMFYl43z54e5NnR00bRnusZOV6eQGLhbL6exNlu H6+5wqV3h+s3GCgKQ96QTBamZbtjmgKhCKqUs6WiQUBp4IHrNrCxpQFaE3Qm6p0ukFAIut0kYiHO TMzQUR8nEQ7UWt+X0PxKEOQSL0gqhkmxatRY5FWjFctYrCysdrUn+HLPAPsmTulFK9k7cqI0Lm3M FcIfxJkpKi/dyCUBCDZZbLq1MtX7r6HTikq7lBc0J1Qp7bLqT/j8tNaHMSVIW9IYDfNH997i1Pq1 8bd0vkgyV6SsG6xJxFBfo/Gx9L+CQjpXpGqadNXSXUVcynIu5JeqEEwnF/navpd4cbqnmC3P9Y73 VGakjVET/gTwCs5g1aoh60sCMPBkC//2LqW67ZHcAc0v7jeKNQXZgKm6JHoxVcwznykQDwaREmwh azwmsYXzHAv4iAR8zsjcinlBxyUuzAGuzNdN22bfmUE2tzXT0RCpnSNejVVtKQJ6Rqf40rO/5Hyl PzU7m+6ZHzYyOInODI7PH8YZtqhcfIVLArDlsTHC3TFUj3whUCdzmaISBom0wMj66rS6xaFMYdE4 PDDp2tTejFAkCgqmZXNh8tWJAKoiqOom+aJBNBS4kP7IFbxYA8aWsK9nkHShwAffdiNuVV2R76ws eJzjVSGYnE/zhR/uY1QOpiaHUscz03axJugYjr8f58LPbV61LtkP2P91i3v+UqH1Bj0zdcj7tvyM 2rn0ma0rLnfYKCv+anFiohrZ0tKCS1N5ZWCcsq5TH/YvD0WqQjCfK/LdF49hC1jbWFfLzsSKoOBE CNO2OTY8wVy2wO/s3kZjOICUova7NmW1x9SyPN0w+Pqzr3Ai219Jzs+dSI1aORxyGwNexgl3s7zG pMllm6If/laV7/5uh968s6JlJ7Tf1svOXLO0FFRcQW9DZaalfY33yOk5zwtnBgj7vNy0qcvp0tb8 9szEPP/0/CG6m+u5a+sGVHXlr/RWx3fdsvC5Xexa107I63F612KF8Be5i6oIDvQN8+1DB6l4kgMj J0qTNbZfCnXHgTleZ8zmsi2x/mNerv1QCk9I/mTqhKuvtKhupea31YxL88UjrdFd5uJEUg9FSvDw DU7tj4SqYfJ8zyAnRmd44Pot3LiuvdYNutRy3vW6XPiibqSU2JclSee1QFCuGjx9pJeKb7EwNZib kM5JxZr2zwPJ1xP+NQH43PUVnpMV3i5umH7wT6a+lxlVtlbzgLCRUlCa9kZmTqpBPZ3nDx+4i7Df g5SSsm6y78wAZcPiI3fvoSHsx7blZYRfKSRIaV9U1Lz6GABFSAYmZzmXnML05aezM3YJlocqR3DI 71WEd6n1mvsC7ff52Hp7nni3Pp4ecD1QTCnxJeY2DBs9oysfu+dWbt/azVK3SFEE7XUxdna1EvQ4 mzJLw9LKioe43GOZI5RlrhDKhfcV4eT7399/jFOLQ0YquXg2n7LLOOFtBGfSbJI3+BOK19wX+Psb y3x20OS/rTNG73vO/41iUvuoNPFalnTZtu3ata1JWdcRts+np1hN1xIKq8PXKjJfUuqqjtDKxGh1 qXtRukTVMEVvalwxRSmzOGMWaicUa5pPcgWT4687JPX4S34W+oK4A3gmDnoaCwtmbGqg1J5LGRtd UmuxdeGxpZQCZ0pDgO1EwNXN7zf8hW9gSSQVwxClkmGV87aJY/5J4BTOkGWGNzg684bu573/oxnN a5Of8PBXX9zJDvGUG+eHCgHAVTvMqt3IW/Ib3zcgg4HjBhXnXi7XUFy9/j84iArTXC74UAAAACV0 RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wMS0yMFQwNDoyNzoxMyswMDowMLFxCQAAAAAldEVYdGRhdGU6 bW9kaWZ5ADIwMjMtMDEtMjBUMDQ6Mjc6MTQrMDA6MDAFi48yAAAAKHRFWHRkYXRlOnRpbWVzdGFt cAAyMDIzLTAxLTIwVDA0OjI3OjE0KzAwOjAwUp6u7QAAAABJRU5ErkJggg=="/>
				</svg>
				<span>{SITE.title}</span>
			</a>
		</h1>
	</article>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
	article {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-subitem {
		display: flex;
		flex-grow: 0;
		gap: 0.5em;
		align-items: center;
		justify-content: center;
		color: var(--theme-text-lighter);
		font-size: initial;
		padding: 0.5rem;
	}
	.header-subitem:hover {
		color: var(--theme-accent);
	}
	.header-subitem svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	@media (max-width: 32em) {
		.header-subitem {
			display: none;
		}
	}

	h1 {
		margin: 0;
		font-size: 1.5rem;
		max-width: 100%;
		display: flex;
		flex-grow: 1;
	}

	.logo {
		transform: translateY(0.25rem);
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}

	h1 a {
		text-decoration: none;
		display: inline-flex;
	}
</style>
